.header {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 2px solid lightgrey;
  .header-container {
    padding: 5px 30px;
    .header-title{
    text-align: center;
    font-size: 40px;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .header-box {
      display: flex;
      margin: 0 auto;
      max-width: 800px;
      text-align: center;
      line-height: 20px;
      padding-top: 15px;
      &__search {
        padding-left: 50px;
        form {
          display: flex;
          .search-form {
            width: 400px;
            height: 40px;
            display: flex;
          }
          .search-box {
            width: 50px;
            height: 43px;
            margin-left: 10px;
            background-color:#ffa500;
            color: white;
            text-align: center;
            i {
              font-size: 25px;
            }
          }
        }
      }
      &__mypage {
        width: 50px;
        height: 40px;
        margin-left: 150px;
        background-color:#ffa500;
        border-radius: 10px;
        a {
          text-decoration: none;
          color: white;
          .mypage-icon {
            color: white;
            line-height: 40px;
            font-size: 30px;
          }
        }
      
      }
    }
  }
}

.main {
  background-color: #f8f8f8;
  height: 100%;
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color:white;
    .bookshelf-name {
      text-align: center;
      font-size: 30px;
      padding-top: 20px;
      margin-left: 200px;
      margin-right: 200px;
      border-bottom: 1px solid #ffa500;
    }
    .notes {
      display: flex;
      flex-wrap: wrap;
      .note {
        padding-left: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

.post {
  width: 100px;
  height: 100px;
  background: #ffa500;
  text-align: center;
  border-radius: 8%;
  bottom: 32px;
  right: 20px;
  position: fixed;
  padding: 15px;
  a {
    text-decoration: none;
  }
  &__text{
    color: #fff;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    .icon {
      font-size: 80px;
      color: white;
    }
  }
}